
html,
body {
  
  font-family: 'Odibee Sans', cursive;
  font-weight: 500;
  background-size: cover;
  min-height: 100vh;

  background: '#1a1a29' !important;


}

h5{
  margin: 0;
}

* {
  box-sizing: border-box;
  letter-spacing: 1px;
 
}

*:focus {
  outline: none;
}


#heroBackground{
  height: 100vh;
}

/* SPINNING STARS */

/* to left */
#star2 #Vector_65,
#star4 #Vector_47,
#star6 #Vector_66
 {
  animation: spinLeft 30s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes spinLeft {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-360deg);
  }
}

/* to right */

#star1 #Vector_49,
#star3 #Vector_48,
#star5 #Vector_45,
#star7 #Vector_46 {
  animation: spinRight 30s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes spinRight {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}







