
#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    padding: 2rem;
    max-height: 10rem;
}

/* select all individual letters */
#logo path {
    stroke-width: 3px;
  stroke-linecap: round;
  stroke:red;
}


